body{
    background-color: #dfdfdf;
    text-align: center;
    padding: 2em;
}

#navbar{
    border-bottom: 1px solid #ccc;
    padding: 0.5em;
    margin-bottom: 1em;
}

#navbar ul{
    display: flex;
    list-style: none;
    margin: 0;
}

#navbar ul li{
    margin-left: 1em;
}